form{
    --form-gap: 2rem;

    background-color: var(--clr-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
    max-width: 46rem;
    padding: 1.5rem;
    width: 100%;
}

.form-group{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: .5rem;

    &.row{
        gap: var(--form-gap);
    }

    &:has(> .input:required) > :is(label)::after{
        content: "*";
        color: var(--clr-green-600);
    } 
}

label, legend{
    align-items: center;
    display: flex;
    gap: .5rem;
}

.input{
    border: 1px solid var(--clr-gray-500);
    border-radius: .5rem;
    font-size: 1rem;
    padding: 1rem;
}

fieldset.form-group{
    gap: 1rem;

    legend{
        margin-bottom: 1rem;
    }

    &:has(input:required) > legend{
        &::after{
            content: "*";
            color: var(--clr-green-600);
        }
    }


    label{
        border: 1px solid var(--clr-gray-500);
        border-radius: .5rem;
        flex-basis: 100%;
        padding: 1rem;
        
        input[type="radio"]{
            margin: 0;
        }
    }
}

.consent-form-group{
    flex-direction: row;

    label{
        display: inline;
        line-height: 150%;

        span{
            color: var(--clr-green-600);
        }
    }
}

.button{
    background-color: var(--clr-green-600);
    border: none;
    border-radius: .5rem;
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 700;
    padding-block: 1.25rem;
}

/* Responsive settings */
@media screen and (width >= 600px) {
    .form-group.row{
        flex-direction: row;
        gap: 1rem;
    }

    textarea{
        height: 6rem;
    }
}